<% if flash[:my_errors]%>
    <% flash[:my_errors].each do |error|%>
        <p><%= error %></p>
        <% end %>
<% end %>

<%= form_for @restaurant_pizza do |f|%>
    <%=f.label :restaurant_id%>
    <%=f.collection_select :restaurant_id, Restaurant.all, :id, :name%>

    <%=f.label :pizza_id%>
    <%=f.collection_select :pizza_id, Pizza.all, :id, :name%>

    <%=f.label :price%>
    <%=f.number_field :price%>

    <%=f.submit%>
<% end %>