<h1> New Pizza at Restaurant </h1>

 <% if flash[:my_errors]%>
   <% flash[:my_errors].each do |error|%>
   <p style='color: red;'><%= error %></p><br>
   <% end %>
<% end %>

<%= form_for @restaurant_pizza do |f| %>
  <%= f.label :pizza_id %>
  <%= f.collection_select :pizza_id, @pizzas, :id, :name %>

  <%= f.label :restaurant_id %>
  <%= f.collection_select :restaurant_id, @restaurants, :id, :name %>

  <%= f.label :price %>
  <%= f.number_field :price, min:1, max:30 %>

  <%= f.submit %>
<% end %>