<h1>Accociate Pizza with Restaurant</h1>
<div id="error_explaination">
  <% if @restaurant_pizza.errors.any? %>
    <h2>
      <%= pluralize(@restaurant_pizza.errors.count, 'error') %> found:
    </h2>
    <ul>
      <% @restaurant_pizza.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_for @restaurant_pizza do |f| %>
  <%= f.label :restaurant_id, 'Choose Restaurant:' %>
  <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>

  <%= f.label :pizza_id, 'Choose Pizza:' %>
  <%= f.collection_select :pizza_id, Pizza.all, :id, :name %>

  <%= f.label :price, 'Price:' %>
  <%= f.number_field :price %>

  <%= f.submit 'Create'%>
<% end %>