<h1>New RestaurantPizza Form</h1>
<p>Create an association between a restaurant and a pizza!</p>

<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<h1><%= error %></h1>
<%end%>
<%end%>

<%= form_for @restaurant_pizza do |f|%>
<%= f.label :restaurant%>
<%= f.collection_select :restaurant_id, Restaurant.all, :id, :name%>
<%= f.label :pizza%>
<%= f.collection_select :pizza_id, Pizza.all, :id, :name%>
<%= f.label :price%>
<%= f.number_field :price%>
<%= f.submit%>
<%end%>