<h1> New Restaurant Pizza  </h1>

<%= form_for @restaurant_pizza do |f| %>
    <%=f.label :restaurant %>
    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
    
    <%=f.label :pizza %>
    <%= f.collection_select :pizza_id, Pizza.all, :id, :name %>
    
    <%=f.label :price %>
    <%= f.number_field :price, in: 0..100 %>

    <%= f.submit %>


<% end %>