<h1>Restaurant: <%=@restaurant.name%><h1>

<h2>Our address: <%=@restaurant.address%></h2>

<h3>
Our Pizza list:
Average Price: <%=@restaurant.branches.map{|p|p.price}.sum/(@restaurant.branches.length)%>
<ul>
    <%@restaurant.branches.each do |b|%><br><br>
    Name: <li><%= link_to b.pizza.name, pizza_path(b.pizza) %> <br>
    Our Price: <%=b.price%>
    </li>
    <%end%>
</ul>
<h3>